{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>
<body>
{% include 'home/base.html' %}
<div class="container">

	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
	<div class="panel">
		<div class="front"></div>
		<div class="back"></div>
	</div>
</div>
<div class="layer">
	<h1>Exquisite <span> Wheels</span> Gallery</h1>
	<div class="cta">
		<svg viewBox="0 0 24 24">
			<path d="{% static 'images/bg_panel.jpg'%}" />
		</svg>
	</div>
</div>
</body>
</html>