{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% include 'home/base.html' %}
<div class="login-container">

  <form method="POST" class="login-form">
    {% csrf_token %}
    <h2>Login</h2>
    <div class="input-group">
      <input type="text" name="username" class="form-input" placeholder="Username" required>
    </div>
    <div class="input-group">
      <input type="password" name="password" class="form-input" placeholder="Password" required>
    </div>
    <button type="submit" class="form-button">Login</button>
      <a style="color:#ebebeb; " href="{% url 'sing_in' %}"> registration</a>
  </form>
</div>
